
#cart-container-section {
    padding: 20px 0;
}

.dsc-cart-total-container {
    padding: 10px 20px;
    background-color: var(--dsc-color-card-bg);
    justify-content: space-between;
}

.dsc-color{
    color: var(--dsc-color-font-primary);
}
